*{
 font-family: 'Montserrat', sans-serif;
}

.title-principal{
color: #F04500;
font-weight:700;
font-size: 32px;
}


.subtitle{
    font-family: 'Patua One', cursive;
    font-weight: 400;
    color: #212F65;
    font-size: 59px;
}


.text-info{
color: #60607A;
font-weight:400;
font-size: 23px;
}

.img-box{
    width: 500px;
    height: 500px;
}
.botton{
    background-color: #F04500;
    color: #ffffff;
    display: inline-block;
    font-size: 16px;
    text-decoration: none;
    padding: 6px 20px;
    border: none;
    border-radius: 25px;
}

.list{
    width: 400px;
    height: 150px;
    padding: 10px;
    margin: 10px ;
}

.list-ol{
    background-color: #30B6D9;
    color: #ffffff;
}

.list-ul{
    background-color: #FCBE1D;
    color: #000000;
}

.text-ul{
  color: #f20000;  
}


.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #D214B4;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}








